<sectin>
<%= render 'shops/search' %>
	<table class="admin-shops table">
  	 <thead>
      <tr>
	   <th>現在宣伝中のカフェ一覧</th>
	   <th></th>
     <th></th>
     <th></th>
      </tr>
  	 </thead>
  	 <tbody>

		<% @shops.each do |shop| %>
	<tr>
	  <td class="items">
       <%= attachment_image_tag shop, :shop_image, size:'100x100',fallback: "/images/no_image.png"%>
       <p><%= shop.shop_name %></p>
    </td>
    <td class="items">
       <%= shop.address %>
    </td>
    <td class="items">
       <%= shop.created_at %>
    </td>
	   <td><%= link_to "詳細", shop_path(shop.id), class: "btn btn-outline-primary" %>
         <%= link_to "消去" ,admin_shop_path(shop.id), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-outline-danger" %>
     </td>
    </tr>
    <% end %>
    </tbody>
 </table>
</sectin>