<div class="shop-info">
	<div class="shpp-image">
		<%= attachment_image_tag @shop, :shop_image, size:'200x300',class: "card-img-top",fallback: "no_image.png"%>
		<div class="address">住所：<%= @shop.address %></div>
		<div class="address">電話番号：<%= @shop.phone_number %></div>
	</div>
	<div class="shop-title"><%= @shop.shop_name %></div>
	<div class="shop-introduction"><%= @shop.introduction %></div>
	<div class="menu"><%= @shop.first_menu %></div>
	<div class="menu"><%= @shop.first_price %></div>
	<div class="menu"><%= @shop.second_menu %></div>
	<div class="menu"><%= @shop.second_price %></div>
	<div class="business-titme"><%= @shop.start_time %> ~ <%= @shop.last_time %></div>
	<div class="holiday"><%= @shop.holiday %></div>
</div>
<%= form_for [@shop, @post_comment] do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_field :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
    </div>
    <%= f.submit "コメント送信", class: "btn btn-secondary" %>
<% end %>

<div class="line-bc">
  <% @shop.post_comments.each do |post_comment| %>
   		<li class="comment">
            <div class="comment-body bb">
                <div class="comment-text">
                    <div class="comment-author clearfix">
                        <%= post_comment.user.name %>さん
                        <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                    </div>
                    <div class="balloon6">
                    	<div class="chatting">
                          	<div class="faceicon">
                             <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.jpg" %>
                          	</div>
        					<div class="says">
                      		  <%= post_comment.comment %>
                      		</div>
                      		<% if  current_user %>
                      		<%= link_to "削除", shop_post_comment_path(@shop,post_comment), method: :delete, "data-confirm" => "本当に削除してよろしいのですか?" %>
                      		<% end %>
                    	</div>
                    </div>
                </div>
            </div>
        </li>
    <% end %>
</div>
